.ActualChitContainer{
    width: 22rem;
    height: 15rem;
    background-color: antiquewhite;
    border: 5px solid rgb(0, 119, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}
.ActualChitTrLogo{
    width: 100%;
    height: 1rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
}
.ActualChitLogo{
    width: 4rem;
}
.Riddle{
    font-family: 'Oswald';
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    width: 90%;
}
.ChitCode{
    margin-bottom: -2rem;
    font-family: 'Lato';
    font-weight: bolder;
}