    .PlayzoneDiceRoll{
        background-image: url("https://media.tenor.com/YfLnhkuHzzAAAAAC/dice-roll.gif");
        width: 9rem;
        height: 9rem;
        border-radius: 20px;
        background-position: center;
        background-size:contain;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
    }
    .PlayzoneTeams{
        margin-top: 2rem;
        width: 18rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: aliceblue;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #63000d;
        box-shadow: 0 0 10px #63000d;
    }
    .PlayzoneTeams h4{
        width: 100%;
        font-family: 'Oswald';
        font-size: 2rem;
        
    }
    .PlayzoneTeamsMainBlock{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: 5rem;
    }
    .PlayzoneTeamBlock{
        min-width: 6.5rem;
        width: max-content;
        border-radius: 15px;
        background-color: #BE3144;
        color: aliceblue;
        font-family: 'Oswald';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .PlayzoneTeamBlock h5{
        font-size: 2rem;
    }
    .PlayzoneTeamBlock h6{
        font-size: 1rem;
        font-family: 'Lato';
        letter-spacing: 0.1rem;
        border-bottom: 3px solid #63000d;
        padding: 0 0.4rem;
    }