.IntroInfo{
    font-family: 'Oswald';
    width: 100%;
    background-color: #fff;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2rem;
}
.InfoShowcase{
    padding: 0;
    margin-top: -42%;
    box-shadow: 1px 1px #000;
    height: 26rem;
    background-position:30%;
    background-size: cover;
    clip-path: polygon(50% 35%, 100% 35%, 100% 70%, 80% 90%, 49% 95%, 20% 90%, 0% 70%, 0% 35%);
}
.Planeterium img{
    width: 100%;
    position: relative;
}
.Planeterium div{
    animation: float 3s infinite;
}
.Planeterium{
    z-index: 99;
}

.IntroTagline{
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 900;
    color: #212A3E;
    word-spacing: 0.4rem;
}

.StylingLine{
    width: 16rem;
    height: 0.2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(90deg,#E90064,#0F6292);
}

.HeadingTitle{
    font-family: 'Oswald';
    font-weight: 900;
    letter-spacing: 0.6rem;
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 2.8rem;
}
/*Arranging the planets in our planeterium*/

.Jupiter{
    position: absolute;
    width: 4rem;
    top: 15rem;
    left: 0.4rem;
}
.Mars{
    position: absolute;
    width: 5rem;
    top : 16rem;
    right: 2rem;
}
.Saturn{
    display: none;
}
.Uranus{
    position: absolute;
    width: 4rem;
    top : 6rem;
    right: 0.2rem;
}
.Moon{
    position: absolute;
    width: 3rem;
    top : 6rem;
    left: 0.2rem;
}
.Neptune{
    position: absolute;
    width: 3rem;
    top : 15rem;
    left: 10rem;
}
