.ShowPointsContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -4rem;
    left: 0;
}
.ShowPoints{
    width: 4.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    align-items: center;
    color: #fff;
    transition: all 0.4s;
    font-size: 2.5rem;
    background-color: rgb(49, 49, 49);
    animation: chameleon 30s infinite;    
    /* animation: keepFloat 5s infinite;
    background-image: linear-gradient(90deg,#50ff9f,rgb(109, 184, 255)); */
}