.ManagerContainer{
    background-color: antiquewhite;
    border-radius: 25px;
    box-shadow: 0 0 10px #000;
    width: 96%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    z-index: 1;
}
.ManagerTitle{
    border-bottom: 1px solid red;
    margin-top: 0.5rem;
    font-size: 2rem;
    font-family: 'Lato';
}
.AppBarContainer{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
.DangerButt{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
    background-color: #fff;
    border-radius: 100%;
    border: 3px solid crimson;
    font-size: 2rem;
}
.AddWrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}