.CoinsContainer{
    width: 6rem;
    height: 3rem;
    box-shadow: 0 0 10px #ffd900;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    border: 3px solid orangered;
    position: relative;
}
.CoinsContainer ion-icon{
    font-size: 1.4rem;
    margin-top: 0.3rem;
}
.CoinCount{
    font-family: 'Lato';
    font-size: 1.4rem;
    font-weight: bolder;
}
.CoinsRefresh{
    position: absolute;
    bottom: -1.4rem;
    width: 3rem;
    height: 3rem;
    font-size: 4rem;
}