.MapCvmWrapper{
    width: 100%;
    min-height: 100vh;
    margin-top: -1rem;
}
.MapOverlayFeatures{
    bottom: 250%;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.MapCvmTitle{
    text-decoration: underline #fff 0.4rem ;
    margin: 2rem 0 ;
    font-size: 2rem;
    animation: textGlow 3s infinite;
    color: #c7004c;
    text-shadow: 0 0 10px #000;
}
.PolygonGenButt{
    width: 3rem;
    height: 3rem;
    background-color: aqua;
}
.MapInfoContainer{
    z-index: 9;
    position: relative;
    border-radius: 20px;
    width: 100%;
    margin: 1rem auto;
    height: max-content;
    height: max-content;
    background-image: linear-gradient(45deg,rgb(0, 0, 63),red);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MapContainer{
    z-index: 9;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 228, 196, 0.418);
}
.MapInfo{
    position: relative;
    width: 100%;
    min-height: 10rem;
    padding: 2.5rem 0;
}

.TeamDetailsMap{
    top: -24%;
    left: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    min-width: 5rem;
    min-height: 5rem;
    background-color:antiquewhite;
    font-size: 1.2rem;
    font-family: 'Lato';
    font-weight: 800;
    background-image: linear-gradient(110deg,#025dc4,#c7004c);
    box-shadow: 0 4px 10px #ffffff4d;
    animation: float 3s infinite;
    border: 3px solid #fff;
    animation: keepFloat 5s infinite;
    z-index: 999;
    width: 20%;
    height: 20%;
}
.TeamDetailsMap h5{
    border-bottom: 3px solid rgb(183, 231, 10);
    color: antiquewhite;
    font-family: 'Lato';
    font-weight: lighter;
}
.TeamCodeMap{
    font-size: 2.5rem;
    font-family: 'Lato';
    font-weight: bolder;
    color: rgb(255, 209, 209);
    animation: textGlow 3s infinite;
}

.ButtText2{
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: rgb(222, 251, 0);
    text-shadow: 0 2px 3px #000;
}
.BackToHomeContainer{
    position: absolute;
    top: 610%;
    right: 5%;
}
.BackToMapContainer{
    position: absolute;
    top: 32rem;
    z-index: 1;
    margin-right: 0.7rem;
}

.BackToHome{
    position: absolute;
    border: 3px solid #025dc4;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 10px;
    height: 2.2rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.4rem;
}